
#assets {}

#assets #options {
    background-color: #2522e4;
}

#assets #options ul {
    margin: 0px;
    padding: 10px;
    list-style: none;

    display: grid;
    grid-gap: 10px;
    grid-template: "a b c d" / 1fr 1fr 1fr 1fr;
}

#assets #options ul li {
    float: left;
    padding: 20px 5px;
    background-color: #266bda;
    border: 10px solid #6829fa;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#assets #options ul li.options-options {
    grid-area: a;
}

#assets #options ul li.options-stats {
    grid-area: b;
}

#assets #options ul li.options-info {
    grid-area: c;
}

#assets #options ul li.options-legacy {
    grid-area: d;
}

#assets #assets-title:before {
    content: "";
    display: block;
    width: 180px;
    height: 34px;
    background-color: #84227d;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -44px;
}

#assets #assets-title {
    text-shadow: -4px 4px 0px #489f8d;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: -10px;
    text-align: center;
    color: #74f34d;
}

#assets #workers {
    background-color: #4a933d;
    padding: 10px;
}

#assets #workers .layer-1 {
    border: 5px solid #b3241f;
}

#assets #workers .layer-2 {
    border: 5px solid #f08432;
    background-color: #84227d;
    padding: 10px;
    color: #f08432;
    font-size: 18px;
    font-weight: 700;

    display: grid;
    grid-template:
            "a b" 40px / 9fr 1fr;
}

#assets #workers .layer-2 .list {
    grid-area: a;
}

#assets #workers .layer-2 .count {
    grid-area: b;
}

#assets #workers .layer-2 .list .asset_worker {
    /*border: 1px solid #000;*/
    /*background-color: #fff;*/
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
