
.ads-layer-1 {
    border: 8px solid #4a933d;
}

.ads-layer-2 {
    border: 8px solid #b3241f;
}

.ads-layer-3 {
    border: 8px solid #f08432;
}

#ads-1 {
    background-color: #84227d;
    color: #e7b240;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 72px 24px;
    text-align: center;
}

/* --- store --- */

#store #store-title:before {
    content: "";
    display: block;
    width: 180px;
    height: 34px;
    background-color: #84227d;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -44px;
}

#store #store-title {
    text-shadow: -4px 4px 0px #489f8d;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: -10px;
    text-align: center;
    color: #74f34d;
}

#store #workers {
    background-color: #4a933d;
    padding: 10px;
}

.store-button-layer-1 {
    border: 2px solid #e7b240;
    padding: 15px;
    min-height: 19px;
    display: none;
}

.store-button-layer-1.active {
    display: block;
}

.store-button-layer-2 {
    border: 8px solid #e7b240;
    min-height: 19px;
}

.store-add-worker {
    background-color: #51b387;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

.store-add-worker a {
    cursor: pointer;
    display: grid;
    min-height: 19px;
    line-height: 19px;
    grid-template:
        "a b"
        "c d" / 1fr 9fr;
    grid-gap: 10px;
}

.store-add-worker a .worker-icon {
    grid-area: a;
    min-height: 19px;
    line-height: 19px;
}

.store-add-worker a .worker-name {
    grid-area: b;
    min-height: 19px;
    line-height: 19px;
}

.store-add-worker a .cost-space {
    grid-area: c;
    min-height: 19px;
    line-height: 19px;
}

.store-add-worker a .cost-icon {
    grid-area: d;
    min-height: 19px;
    line-height: 19px;
}

.store-add-workerr,
.store-add-worker a {
    color: #fff;
    text-decoration: none;
}
